@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Akshar", sans-serif;
}

.n-menu a.active {
  border-bottom: 3px solid #f87171;
  padding-bottom: 3px;
}
